body {
  background-color: white;
}

main {
  margin-left: 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  position: relative;
}

/* Landing Page */
main.landing {
  padding: 15px;
  /* align-items: center; */
  height: 100vh;
}

.title-box {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: lightblue; */
  min-width: 300px;
  max-width: 800px;
  color: black;
  margin: auto;
  margin-top: 72px;
  /* top: 10%; */
  position: relative;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 1px #BBB;
  padding: 20px;
}
.title-box .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.title-box .subtitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.title-box .btn-main {
  background-color: #007bcc;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  min-width: 220px;
  min-height: 30px;
  margin-bottom: 20px;
  /* box-shadow: 1px 1px 20px 1px #888888; */
  text-align: center;
}
.btn-main img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-top: -3px;
}
.btn-main:hover {
  text-decoration: none;
  color: #F1F1F1;
  background-color: #007bbb;
  box-shadow: 1px 1px 10px 1px #888888;
  transition: all 0.3s ease;
}


.dev-title {
  color: white;
  position: absolute;
  right: 20px;
}

.section-heading {
  text-align: center;
  font-weight: bold;
  font-size: smaller;
  margin-bottom: 6px;
}

.section-column {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 3px;
  border: solid #DDD 1px;
  width: 25%;
  height: calc(100vh - 60px);
}

.section-input {
  flex-grow: 2;
}

.section-seq-json,
.section-cgv-json {
  flex-grow: 5;
}

.section-sidebar {
  /* flex-basis: 25%; */
  flex-basis: 325px;
  min-width: 325px;
}

#file-section {
  margin: 10px 0;
  font-size: 12px;
}

#input-text {
  border: solid #DDD 1px;
  font-size: 10px;
  white-space: pre;
  overflow: scroll;
  font-family: monospace;
  padding: 3px;
}

#my-viewer {
  text-align: center;
}

.sidebar-options {
  padding: 0 5px;
  position: relative;
}
.options-container {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  max-height: 200px;
  overflow: auto;
}

.sidebar-log {
  overflow: auto;
}

#log-text {
  font-family: monospace;
  font-size: 10px;
  color: gray;
  margin: 10px;
  /* white-space: break-spaces; */
  white-space: pre;
  line-height: 1.5;;
}

.sidebar-help ul {
  padding-left: 10px;
  margin-left: 0;
  list-style-position: outside;
}
.sidebar-help li {
  font-family: monospace;
  font-size: 10px;
  color: gray;
  margin: 5px;
}

#reparse-btn {
  position: absolute;
  top: 0px;
  right: 5px;
  display: block;
  background-color: white;
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}
#reparse-btn:hover {
  background-color: #DDD;
}

#format-select {
  position: absolute;
  top: 0px;
  left: 5px;
}
.small-select {
  font-size: 10px;
  padding: 0px 5px;
  font-weight: bold;
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 90px;
}

.data-col {
  display: flex;
  flex-wrap: nowrap;
  font-size: 10px;
}
.data-header {
  font-weight: bold;
  font-size: 10px;
}
.data-line {
  /* single line with truncation and ellipsis */
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: grey;
  font-size: 10px;
}

#open-in-proksee-btn {
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
  display: block;
}

/* TIME */
.section-time {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 10px;
  font-weight: bold;
  background-color: goldenrod;
  padding: 3px 5px;
  border-radius: 3px;
}

/* GENERAL */
hr {
  margin: 8px 0 5px 0;
}

.muted {
  color: var(--theme-text-color-muted)
}

/* PRISM */
code[class*="language-"] {
  font-size: 10px;
}
pre[class*="language-"] {
  font-size: 10px;
  overflow: scroll;
  line-height: 1.5;
  margin-bottom: 0px;
  padding: 3px;
}

/* SCROLL BARS */
:root {
  --theme-text-color-muted: #868E96;
  --theme-list-header-color: #C9DFEC;
}
::-webkit-scrollbar {
  background: var(--theme-list-header-color);
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background: var(--theme-list-header-color);
}
::-webkit-scrollbar-corner {
  background: var(--theme-list-header-color);
}
::-webkit-scrollbar-thumb {
  background: var(--theme-text-color-muted);
  border-radius: 4px;
}

/* Sidebar Help/Logs */
.sidebar-help-logs {
  overflow: auto;
}
.sidebar-help {
  overflow: auto;
}
.sidebar-nav-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}
.sidebar-nav-btns .btn-separator {
  padding: 0 5px;
}
.sidebar-nav-btns .btn-selected {
  color: black;
  font-size: 18px;
  cursor: default;
}
.sidebar-nav-btns .btn-selected:hover {
  text-decoration: none;
}
