body {
  background-color: white;
}

main {
  margin-left: 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  position: relative;
}

.dev-title {
  color: white;
  font-weight: bold;
  position: absolute;
  right: 20px;
}

.section-heading {
  text-align: center;
  font-weight: bold;
  font-size: smaller;
  margin-bottom: 6px;
}

.section-column {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 3px;
  border: solid #DDD 1px;
  width: 25%;
  height: calc(100vh - 60px);
}

.section-input {
  flex-grow: 2;
}

.section-seq-json,
.section-tes-json,
.section-cgv-json {
  flex-grow: 5;
}

.section-sidebar {
  flex-basis: 25%;
}

#file-section {
  margin: 10px 0;
  font-size: 12px;
}

#input-text {
  border: solid #DDD 1px;
  font-size: 10px;
  white-space: pre;
  overflow: scroll;
  font-family: monospace;
  padding: 3px;
}

#my-viewer {
  text-align: center;
}

.sidebar-options {
  padding: 0 5px;
  position: relative;
}
.options-container {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.sidebar-log {
  overflow: scroll;
}

#log-text {
  font-family: monospace;
  font-size: 10px;
  color: gray;
  margin: 10px;
  /* white-space: break-spaces; */
  white-space: pre;
  line-height: 1.5;;
}

#reparse-btn {
  position: absolute;
  top: 0px;
  right: 5px;
  display: block;
  background-color: white;
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}
#reparse-btn:hover {
  background-color: #DDD;
}

#open-in-proksee-btn {
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
  display: block;
}

/* TIME */
.section-time {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 10px;
  font-weight: bold;
  background-color: goldenrod;
  padding: 3px 5px;
  border-radius: 3px;
}

/* GENERAL */
hr {
  margin: 8px 0 5px 0;
}

.muted {
  color: var(--theme-text-color-muted)
}

/* PRISM */
code[class*="language-"] {
  font-size: 10px;
}
pre[class*="language-"] {
  font-size: 10px;
  overflow: scroll;
  line-height: 1.5;
  margin-bottom: 0px;
  padding: 3px;
}

/* SCROLL BARS */
:root {
  --theme-text-color-muted: #868E96;
  --theme-list-header-color: #C9DFEC;
}
::-webkit-scrollbar {
  background: var(--theme-list-header-color);
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background: var(--theme-list-header-color);
}
::-webkit-scrollbar-corner {
  background: var(--theme-list-header-color);
}
::-webkit-scrollbar-thumb {
  background: var(--theme-text-color-muted);
  border-radius: 4px;
}